html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
	font-size: 1.125rem;
}

/*main*/
main>h2 {
	box-sizing: border-box;
	width: 22.5rem;
	height: 12rem;
	background: url(../images/white-linear-angled-architecture.jpg) no-repeat center center;
	background-size: 100%;
	padding: 1.25rem;
}